langchain==0.3.25
langchain-core==0.3.80
langchain-community==0.3.13
langchain-chroma==0.2.2
chromadb==0.5.23
langchain-openai==0.2.11
langchain-text-splitters==0.3.8
python-dotenv==1.0.1
fastapi==0.115.5
uvicorn==0.32.1
gunicorn==23.0.0
